*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

.container{
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container h1{
    font-size: 80px;
    font-weight: 600;
}
